<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Good Bingo Game Board</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<div class="container">

    <h1>🎲 Good Bingo Game</h1>

    <h2>Live Bingo Board</h2>

    <div id="board">

        <div class="column">
            <h3>B</h3>
            <p id="B"></p>
        </div>

        <div class="column">
            <h3>I</h3>
            <p id="I"></p>
        </div>

        <div class="column">
            <h3>N</h3>
            <p id="N"></p>
        </div>

        <div class="column">
            <h3>G</h3>
            <p id="G"></p>
        </div>

        <div class="column">
            <h3>O</h3>
            <p id="O"></p>
        </div>

    </div>


    <h2>Called Numbers</h2>

    <div id="called">
        Waiting for numbers...
    </div>

</div>


<script src="/static/js/app.js"></script>

</body>
</html>
