<script>

const tg = window.Telegram.WebApp;

tg.ready();
tg.expand();


function joinGame(){

    let user_id = "test_user";

    if (tg.initDataUnsafe && tg.initDataUnsafe.user) {
        user_id = tg.initDataUnsafe.user.id;
    }

    fetch("/api/join", {

        method: "POST",

        headers: {
            "Content-Type": "application/json"
        },

        body: JSON.stringify({
            user_id: user_id
        })

    })

    .then(response => response.json())

    .then(data => {

        document.getElementById("status").innerHTML =
        data.message;

    })

    .catch(error => {

        document.getElementById("status").innerHTML =
        "Join error";

        console.log(error);

    });

}

</script>
